{% extends 'base.html' %}
{% block title %}Jobs Page{% endblock title %}
{% block content %}
<script src="https://kit.fontawesome.com/2ccbbd5f45.js" crossorigin="anonymous"></script>
<style>
    .container{
        width: 100%;
        height: 10vh;
        padding: 0 8%;
    }
    .container h1{
        text-align: center;
        padding-top: 0%;
        margin-bottom: 60px;
        font-weight: 600;
        position: relative;
        margin-top: -172px;
    }
    .container h1::after{
        content: '';
        background: #303ef7;
        width: 100px;
        height: 5px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
    }
    .row{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 30px;
    
    }
    .service{
        text-align: center;
        padding: 25px 10px;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        background: transparent;
        transition: transform 0.5s, background 0.5s;
    }
    .service i{
        font-size: 40px;
        margin-bottom: 10px;
        color: #7178d8;
    }
    .service h2{
        font-weight: 600;
        margin-bottom: 8px;
    }
    .service:hover{
        background: #7178d8;
        color: white;
        transform: scale(1.05);
    }
    .service:hover i{
        color: white;
    }
    
    
</style>
<div class="container">
    <h1 class="animate__animated animate__heartBeat">Trending Jobs</h1>
    <div class="row">
        <div id="web" class="service">
            <i class="fa-solid fa-laptop-code"></i>
            <h2>Web Development</h2>
            <p>Create, design, and maintain websites using coding and design skills.</p>
        </div>
        <div id="market" class="service">
            <i class="fa-solid fa-chart-line"></i>
            <h2>Marketing</h2>
            <p>Promote products/services through strategic online marketing for business growth.</p>
        </div>
        <div id="graphics" class="service">
            <i class="fa-solid fa-palette"></i>
            <h2>Graphics</h2>
            <p>Create visual concepts, communicate ideas, and inspire through graphic design.</p>
        </div>
        <div id="data" class="service">
            <i class="fa-solid fa-chart-pie"></i>
            <h2>Data Analytics</h2>
            <p>Analyze data, extract insights, and drive informed business decisions strategically.</p>
        </div>
        <div id="app" class="service">
            <i class="fa-brands fa-android"></i>
            <h2>App Development</h2>
            <p>Code, design, and build applications for various platforms and devices.</p>
        </div>
        <div id="accounting" class="service">
            <i class="fa-solid fa-receipt"></i>
            <h2>Accounting</h2>
            <p>Manage financial records, ensure compliance, and provide strategic fiscal guidance.</p>
        </div>
    </div>
</div>
<script>
    document.getElementById('web').onclick = function() { window.location.href = 'https://www.linkedin.com/search/results/all/?keywords=web%20development&origin=GLOBAL_SEARCH_HEADER&sid=C33'; };
    document.getElementById('market').onclick = function() { window.location.href = 'https://www.linkedin.com/search/results/all/?keywords=marketing&origin=GLOBAL_SEARCH_HEADER&sid=Zs1'; };
    document.getElementById('graphics').onclick = function() { window.location.href = 'https://www.linkedin.com/search/results/all/?keywords=graphics&origin=GLOBAL_SEARCH_HEADER&sid=vcb'; };
    document.getElementById('data').onclick = function() { window.location.href = 'https://www.linkedin.com/search/results/all/?keywords=data%20analytics&origin=GLOBAL_SEARCH_HEADER&sid=%2Cpe'; };
    document.getElementById('app').onclick = function() { window.location.href = 'https://www.linkedin.com/search/results/all/?keywords=app%20development&origin=GLOBAL_SEARCH_HEADER&sid=~ji'; };
    document.getElementById('accounting').onclick = function() { window.location.href = 'https://www.linkedin.com/jobs/search/?currentJobId=3765646743&keywords=accounting&origin=SWITCH_SEARCH_VERTICAL'; };
    document.getElementById('pay').onclick = function() { window.location.href = 'https://www.linkedin.com/search/results/ALL/?keywords=Payroll%20Specialist&origin=SWITCH_SEARCH_VERTICAL&sid=q%2C9'; };
    document.getElementById('network').onclick = function() { window.location.href = 'https://www.linkedin.com/jobs/search/?currentJobId=3728901297&keywords=networking&origin=SWITCH_SEARCH_VERTICAL'; };
</script>
{% endblock content %}